<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright © 2019 Tana Trip Booking. All rights reserved. <a href="#">Tana Trip Booking</a>.</p>
        </div>
    </div>
</div>